/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
ul{
  list-style: none;
  font-size: 20px;
}
li{
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}
li:hover{
  background-color: white;
  border-radius: 3px;
  transition: .7s;
}
span{
  font-size: 16px;
  padding: 5px 10px 5px 10px;
}
.completed-todo{
  text-decoration: line-through;
}
#new-todo-block{
  width: 80px;
  margin: 20px auto 0px auto;
}
#add-new-todo-button{
  display: block;
  text-align: center;
  width: 80px;
  transition: .6s;
  color: white;
  padding: 20px;
  margin: 0 auto;
  background-color: #a5ebff;
  margin-top: 30px;
}
#add-new-todo-button:hover{
    background-color: white;
    color: black;
    transform: rotate(10deg);
}

h1 {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
  transition: 1s;
}
a:hover {
    color: #a5ebff;
    
}
#top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 9px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height:9px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
		
	body {
	  padding: 20px;
	  overflow-x: hidden;
	  background-color: white;
	}
	
	.yuh {
	  text-align: center;
	  padding: 30px;
	}
	@media (max-width: 600px) {
	    body {
	        overflow-x: hidden;
	    }
	    .cont {
	        width: 100px;
	        margin: 0 auto;
	    }
	    a {
	        margin-bottom: 20px;
	        font-size: 16px;
	    }
	    input[type=checkbox] {
          zoom: .8;
}
#top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;
	height: 4px;
}
	}