<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
<div class="card">
  <h2>edit member info</h2>

  <form action="/todo/update/<%= @todo.id %>">
    <input class="text-input" name="description" type="text" value="<%= @todo.description %>">
    <input class="text-input" name="pomodoro_estimate" type="number" value="<%= @todo.pomodoro_estimate %>">
    <div id="new-todo-block">
    <input class="button add-new-todo-button" id="add-new-todo-button"type="submit" value="edit it!">
    </div>
    <a href="/" class="simple-link">back to stan list</a>
  </form>
</div>
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>