   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
<h2>「 add to your stan list  」</h2>
<form action="/todo/create">
  <input class="text-input" id="new-todo-description" name="description" type="text" placeholder="member name">
  <input class="text-input" id="new-pomodoro-estimate" name="pomodoro_estimate" type="number" placeholder="age ">
  <div id="new-todo-block">
    <input class="button add-new-todo-button" id="add-new-todo-button"type="submit" value="done!">
    </div>
</form>
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>